/* @font-face {
  font-family: "Millik";
  src: url(../fonts/Millik\ \(1\).ttf);
} */


@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: white; */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.background {
  background-image: url(./assets/Map\ background.png);
  background-size: cover;
  background-position: right;
  min-height: 100vh;

}

.background-color {
  background-color: #f8fafd;

}

.header-bg {
  background-color: #FFFFFF;
}

.fs {
  font-size: 20px;
  line-height: 32px;
}

.header-fs {
  font-size: 38px;
  line-height: 48px;
}

/* testimonial animation */
.testimonial-section {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.testimonial-row {
  display: flex;
  animation-duration: 20s;
  /* Total animation duration */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  justify-content: space-between;
  margin-bottom: 100px;

}

.testimonial {
  flex: 0 0 35%;
  /* Each column takes up 25% of the width */
  background-color: white;
  padding: 15px;
  margin-left: 30px;
}

/* Top row animation */
.top-row {
  animation-name: testimonialAnimationTop;
}

@keyframes testimonialAnimationTop {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Bottom row animation */
.bottom-row {
  animation-name: testimonialAnimationBottom;
}

@keyframes testimonialAnimationBottom {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.a {
  text-decoration: none;
  color: #51575D;
}

.secondary-font {
  font-family: "Playfair Display", serif;
}

.primary-font {
  font-family: "Roboto", sans-serif;
}


.white-color {
  color: white;
}

.mr-2 {
  margin-left: -24px;

}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  border: none;
}

.btn-primary {
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.primary-btn {
  background-color: #0000ff;
  border: 1px solid #0000ff;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.primary-btn:hover {
  background-color: #351ad4;
  border-color: #351ad4;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid #0000ff;
  color: #0000ff;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.secondary-btn:hover {
  border-color: #351ad4;
  color: #351ad4;
}

.neutral-btn {
  background-color: transparent;
  border: 1px solid #777777;
  color: #1B1B1B;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.neutral-btn:hover {
  border-color: #777777;
  color: #1B1B1B;
}

.neutral-btn .icon {
  font-size: 20px;
}

.tertiary-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: #0000ff;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.tertiary-btn:hover {
  color: #351ad4;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-sample {
  background-color: white;
  border: 1px solid white;
  color: #1e1e1e;
}

.transparent-btn {
  background-color: white;
  border: 1px solid white;
  color: #1e1e1e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.transparent-btn:hover {
  background-color: white;
  border: 1px solid white;
  color: #0000ff;
  padding-bottom: 7px;
  border-bottom: 1px solid #0000ff;
}

.transparent-btn.active {
  color: #0000ff;
  padding-bottom: 7px;
  border-bottom: 1px solid #0000ff;
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}



.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
}

.back-btn {
  right: auto;
  left: 0;
}

.slide img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid #0f2c6d;
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-control-next-icon {
  display: none;
}


.user-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
}

.user-info h3 {
  color: #09090a;
}

@media (min-width: 768px) and (max-width: 1330px) {
  .mt-0 {
    margin-bottom: 10%;
  }

  .nav-link-with-margin {
    margin-bottom: 10px;
  }

  .btnn button {
    margin-bottom: 20px;
    width: 100%;
  }

  .btnn button:last-child {
    margin-bottom: 0;
  }


  .heroImg {
    margin-top: 30%;
    /* width: 100%; */
  }
}

.pl-md-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bg-secondary {
  --bs-bg-opacity: 0.1;
}


.h3 {
  font-size: 16px;
  font-weight: 700;
  color: #0000ff;
}



@media (max-width: 768px) {

  .nav-link-with-margin {
    margin-bottom: 20px;
    /* Adjust the value as needed */
  }

  /* .wrap {
    flex-direction: column;
  }
  .margin-left{
    margin-left: 10%;
  }
  .pd-0{
    padding: 0;
  }
  .form-control-lg,
  .btn-lg {
    width: 100%;
  } */

  /* .first-wrap {
    flex-direction: column;
    gap: none;
    justify-content: flex-start;
  } */
  .btnn button {
    margin-bottom: 20px;
    width: 100%;
  }

  /* Remove bottom margin from last button on smaller screens */
  .btnn button:last-child {
    margin-bottom: 0;
  }
}

.container-foot {
  display: flex;
  justify-content: around;
  margin-top: 80px;
  align-items: center;
}

.icons {
  display: flex;
  gap: 3px;
}

.mobile-res {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
}



@media (max-width: 768px) {
  .testimonial-container {
    display: none;
  }

  .testimonials {
    margin: 80px 20px;
    padding: 0 20px;
  }

  .container-foot {
    flex-direction: column;
    text-align: center;
  }

  .container-foot>div {
    margin-bottom: 20px;
  }

  .pd-0 {
    padding: 0;
  }

  .mar-top {
    margin-top: 20px;
  }

  .mar-bottom {
    margin-bottom: 18px;
  }

  .max-wid {
    max-width: 300px;
  }


}



.password-left {
  border-right: none;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  border-left: 1px solid #6c757d;
}

.password-left:focus {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  border-left: 1px solid #6c757d;
}

.password-right {
  border: 1px solid #6c757d;
  border-radius: 8px;
  border-left: none;
}

.secondary-font {
  font-family: "Playfair Display", serif;
}

.primary-font {
  font-family: "Roboto", sans-serif;
}

.btn-1 {
  background-color: #252E6A;
  color: white;
}

.btn-outline {
  border: 2px solid #252E6A;
  border-radius: 8px;
}

.text-color-blue {
  color: #0A0E27;
}

.text-color-red {
  color: #CA3131;
}

.mt-top {
  margin-top: 142px;
  margin-bottom: 306px;
}

.outline-primary {
  /* border-color: #252E6A; */
  border-radius: 7px;
  color: #252E6A;
  border: 2px solid #252E6A;

}

.sign-in {
  color: white;
  background-color: #252E6A;
  border-radius: 7px;
  border: none;
}

.mt-n1 {
  margin-top: 10%;
}

/* signIn styles */
.Google-border {
  border: 1px solid #CCCCCC;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #A1A4A8;

}

.select {
  border: 1px solid #CCCCCC;
}

.line{
  border: 1px solid #EAEAEA;
/* padding-right: 3px; */
}

.input-style {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 20px;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A1A4A8;
}

label {
  color: #0A0E27;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 0.5rem;
}

.signup-footer {
  padding-top: 2rem;
}